@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100%vh;
    background-color: lightgray;
}
:root{
    --FontH1:'Passion One', cursive; ;
    --Fonts: 'Sriracha', cursive; ;
}

header{
    background-color: black;
    padding: 50px;
}
header h1{
    font-family: var(--FontH1);
    color: white;
    text-align: center;
    font-size: 8vw;
    font-variant: small-caps;
}
header p {
    color: white;
    text-align: center;
    font-size: 12px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section p{
    padding: 30px 30px;
    line-height: 2.5em;
    font-family: var(--Fonts);
    font-weight: bolder;
    font-size: 3.5vw;

}
section.img p{
    color: white;
    padding: 30px;
    line-height: 2em;
    font-family: var(--Fonts);    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 4px;
    line-height: 3em;
}
section.img{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: inset 5px 5px 5px 0px black;
}
section.img1 p{
    color: white;
    padding: 30px;
    line-height: 1em;
    font-family: var(--Fonts);
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 4px;
    line-height: 3em;
}
section.img1{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;  
    padding: 30px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.537);

}
footer{
    background-color: black;
    color: white;
    padding: 3px;
   text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    color: white;
}


